@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    font-family: Montserrat, serif;
    background: linear-gradient(207deg, #040515 40%, #ac75ff 110%);
}

.navbar-nav .nav-link.nav-link {
    color: rgb(212, 114, 140);
}

.navbar-nav .nav-link.active.nav-link.active {
    color: rgb(150, 20, 111);
}

/* .container-fluid {
    display: flex;
    
} */

p {
    color: aliceblue;
}
.navbar-brand img {
    width: 40px;
}

.navbar-toggler {
    background-color: rgb(230, 196, 255);
}

.sidebar {
    color: rgb(255, 255, 255);
    background: linear-gradient(50deg, #040515 40%, #ac75ff 110%);
    
}

.card,
.btn-outline-primary {
    background: linear-gradient(75deg, #040515 30%, #ac75ff 110%);
    color: rgb(255, 255, 255);
}

.card a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.text-opis,
.footer-text {
    color: aliceblue;
    margin: auto auto
}

footer {
   background:  linear-gradient(50deg, #10122a 30%, #672ebc 100%);
}

.medialink {
    display: flex;
    justify-content: center;
    align-items: center;
}


.call-anim {
    animation: myAnim 1.5s ease 0s infinite normal forwards;
}

@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

@media (max-width: 755px) {
 .carousel-indicators {
    display: none;
 }
}
